/*
 * Copyright (C) 2013 CircuitCo
 * Copyright (C) 2013 Texas Instruments
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;
/plugin/;

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black";

	/* identification */
	part-number = "CAR_CONTROLS";
	version = "00A0";

	/* state the resources this cape uses */
	exclusive-use =
		/* the pin header uses */
		"P9.14",		/* pwm: ehrpwm1A - STEERING */
                "P9.16",                /* pwm: ehrpwm1B - MOTOR */
		/* the hardware IP uses */
		"ehrpwm1A",
                "ehrpwm1B";

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			car_steering_pins: pinmux_car_steering_pins {
				pinctrl-single,pins = <0x048  0x6>; /* P9_14 (ZCZ ball U14) | MODE 6 */
			};
                        car_motor_pins: pinmux_car_motor_pins {
                                pinctrl-single,pins = <0x04c  0x6>; /* P9_16 (ZCZ ball T14) | MODE 6 */
			};
		};
	};

	fragment@1 {
		target = <&ocp>;
		__overlay__ {
			car_pwm_helper {
				car_steering {
					compatible	= "pwm_test";
					pinctrl-names	= "default";
					pinctrl-0	= <&car_steering_pins>;
					pwms 		= <&ehrpwm1 0 20000000 1>;
					pwm-names 	= "STEER_P9_14";
					enabled		= <1>;      // enable plz
					polarity        = <0>;      // 0=normal, 1=inverse
					duty		= <0>;      // initial duty
					status 		= "okay";   // be ok plz?
				};
				car_motor {
					compatible	= "pwm_test";
					pinctrl-names	= "default";
					pinctrl-0	= <&car_motor_pins>;
					pwms 		= <&ehrpwm1 1 20000000 1>;
					pwm-names 	= "MOTOR_P9_16";
					enabled		= <1>;      // enable plz
					polarity        = <0>;      // 0=normal, 1=inverse
					duty		= <0>;      // initial duty
					status 		= "okay";   // be ok plz?
				};
			};
		};
	};
};
